---
http_interactions:
- request:
    method: get
    uri: http://beta.comicvine.com/api/characters?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&filter=id:1254&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://beta.comicvine.com/api/characters/?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&filter=id%3A1254&format=json
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="refresh" content="1;url=http://beta.comicvine.com/api/characters/?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&amp;filter=id%3A1254&amp;format=json" />

                <title>Redirecting to http://beta.comicvine.com/api/characters/?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&amp;filter=id%3A1254&amp;format=json</title>
            </head>
            <body>
                Redirecting to <a href="http://beta.comicvine.com/api/characters/?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&amp;filter=id%3A1254&amp;format=json">http://beta.comicvine.com/api/characters/?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&amp;filter=id%3A1254&amp;format=json</a>.
            </body>
        </html>
  recorded_at: Sat, 18 Jul 2015 19:33:07 GMT
- request:
    method: get
    uri: http://beta.comicvine.com/api/characters/?api_key=6c715eb061943d6fe1a252ed49eef9b2139f3a2f&filter=id:1254&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 07-18-2015 12:38:08
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":1,"number_of_total_results":1,"status_code":1,"results":[{"aliases":"Nura
        Nal\nDreamy\nDreamer\nMiss Terious\nNura Nal-Dox\nNura Schappin\nHigh Seer
        of Naltor","api_detail_url":"http:\/\/beta.comicvine.com\/api\/character\/4005-1254\/","birth":null,"count_of_issue_appearances":356,"date_added":"2008-06-06
        11:27:38","date_last_updated":"2015-05-04 19:13:13","deck":"Nura Nal is from
        the planet Naltor, where all of the inhabitants have the ability to see into
        the future, though Nura''s precognitive ability is the strongest of her race.
        As Dream Girl, she is a longtime member of the Legion of Super-Heroes.","description":"<h2>Origin<\/h2><figure
        data-align=\"right\" data-img-src=\"http:\/\/static.comicvine.com\/uploads\/original\/0\/3664\/197563-87187-dream-girl.jpg\"
        data-ref-id=\"1300-197563\" data-size=\"small\" style=\"width: 279px\" data-ratio=\"2.3655913978495\"
        data-width=\"279\" data-resize-url=\"\" data-resized=\"\" data-embed-type=\"image\"><a
        class=\"fluid-height\" style=\"padding-bottom:236.6%\" href=\"http:\/\/static.comicvine.com\/uploads\/original\/0\/3664\/197563-87187-dream-girl.jpg\"
        data-ref-id=\"1300-197563\"><img src=\"http:\/\/static.comicvine.com\/uploads\/scale_small\/0\/3664\/197563-87187-dream-girl.jpg\"><\/a><figcaption>Dream
        Girl (original costume)  <\/figcaption><\/figure><p style=\"\">Nura Nal was
        born on <a href=\"..\/..\/naltor\/34-54952\/\" rel=\"nofollow\">Naltor<\/a>
        in the thirtieth century. Naltor''s native denizens are genetically inclined
        to be precognitives, with the ability to see into the future. At a young age,
        Nura became recognized as the most powerful precog among her people, more
        able to dream with peculiar accuracy, or see a few moments into t[...]
